/* CREDITS
    FLEXBOX: https://flexboxfroggy.com/ 
    CSS TRANSFORMS: https://www.youtube.com/watch?v=ypwVbSAAJ68
    CSS SHADOWS: https://www.youtube.com/watch?v=zuQUlAv45EE
    CSS ANIMATIONS: https://www.youtube.com/watch?v=HZHHBwzmJLk
    COLOR PALETTE: https://coolors.co/palettes/trending
    FONTS: https://www.hostinger.com/tutorials/best-html-web-fonts
*/
/* GLOBAL STYLING */
html, body, #content {
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
html {
    background-image: url("mit-dome.jpeg");
    background-repeat: repeat;
    background-size: 200px;
}
#content {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 500px;
    max-width: 750px;
    /* background-color: #3566;
    box-shadow: 1em 0em 1em #3566,
        -1em 0em 1em #3566; */
}
#home, #build, #tradespace {
    display: none;
    height: 100%;
}
#home-btns span {
    font-family: 'Perpetua';
    font-size: 1.5em;
}
.btn-close {
    border-radius: 1em;
    font-size: 1em;
    font-weight: 500;
    float: right;
    cursor: pointer;
    margin: 10px;
    background-color: #3D5A80;
    color: #E0FBFC;
    padding: 0.5em 0.75em;
}
.btn-close:hover {
    background-color: #EE6C4D;
}
/* HOME VIEW */
#home {
    /* display: flex; */
    flex-wrap: wrap;
    align-content: space-evenly;
}
#home > h1 {
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 5px #EE6C4D;
    font-size: 4em;
    color: white;
}
#home > #intro {
    background-color: #E0FBFC;
    box-shadow: 1em 1em 0.5em #E0FBFC,
        -1em -1em 0.5em #E0FBFC,
        -1em 1em 0.5em #E0FBFC,
        1em -1em 0.5em #E0FBFC;
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-style:italic;
    line-height: 1.5em;
    font-family: serif;
    font-size: 1.5em;
    /* ANIMATION */
    max-height: 0px;
    color: #FFFFFF00;
    transition: max-height 3s, color 3s;
}
#home > #home-btns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* ANIMATION */
    opacity: 0;
    transition: opacity 2s;
}
#home > #home-btns span {
    font-size: 1.5em;
    z-index: 1;
    color: #293241;
    text-align: center;
}