/* TRADESPACE VIEW */
#tradespace {
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.retro {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: #ccc;
    width: 80%;
    min-width: 500px;
    max-width: 750px;
    height: 80%;
    padding: 25px;
    box-shadow: 0.5em 0.5em 0 red;
    border-radius: 2em;
}
#tradespace > div.retro > div {
    width: 100%;
}
.btn-close {
    border-radius: 1em;
    font-size: 1em;
    font-weight: 500;
    color: white;
    float: right;
    cursor: pointer;
    margin: 10px;
    background-color: grey;
    padding: 0.5em 0.75em;
}
.btn-close:hover {
    background-color: darkgray;
}
.btn-edit > span > img {
    width: 0.75em;
    height: 0.75em;
    padding:0.5em;
    cursor: pointer;
}
#tradespace-title {
    display: flex;
    align-items: center;
}
#tradespace #scatterplot {
    display:flex;
    justify-content: center;
}
#tradespace #scatterplot svg text {
    font-size: 0.75em;
    cursor: pointer;
    text-decoration: underline;     
    text-decoration-color: blue;
}
#tradespace #choices {
    display: flex;
    font-size: 1em;
    flex-direction: column;
}
#tradespace #choices .choice {
    display: flex;
}
.choice-option {
    padding: 0.5em;
    background-color: white;
    margin: 0.25em;
}
.choice-name-tradespace {
    padding: 0.5em;
    margin: 0.25em;
}
.choice-option {
    border: 1px solid yellow;
	box-shadow:  -1px 1px yellow,
		 -2px 2px yellow,
		 -3px 3px yellow,
		 -4px 4px yellow,
		 -5px 5px yellow;
}
.choice-option:hover {
    cursor: pointer;
}
.selected {
    box-shadow:  -1px 1px red,
        -2px 2px red,
        -3px 3px red,
        -4px 4px red,
        -5px 5px red;
}
circle {
    fill: gray;
    stroke: white;
    cursor: pointer;
}
circle.unselected {
    opacity: 0.25;
    stroke: none;
    /* cursor: not-allowed; */
}
circle.selected {
    /* opacity: 1; */
    /* stroke: white; */
    /* stroke-width: 3px; */
}
.concept-tooltip-box, .concept-tooltip-text {
    display: none;
}
.concept-tooltip-box {
    fill: white;
    stroke: black;
}